main{
    ul{
        div{
            a{
                text-decoration: none;
                color: $thirdColor;
                text-align: center;
                font-size: $espacio-doble;
                padding-top: 5px; padding-bottom: 5px;
            }
        }
    }
    div{
        section{
            button{
                background-color:$mainColor;
                border: 1px solid $thirdColor;
                border-radius: 4px;
                box-shadow: $fourthColor 4px 4px 0 0,$thirdColor 4px 4px 0 1px;
                box-sizing: border-box;
                color: $fourthColor;
                cursor: pointer;
                font-size: $espacio-doble;
                line-height: $espacio-estandar;
                margin: 0 5px $espacio-estandar 0;
                padding: 12px 40px;
                text-align: center;
                touch-action: manipulation;
            }
        }
        label{
            font-size: $espacio-doble;
            padding: 5px;
        }
        input{
            margin-top: $espacio-estandar;
            border: $thirdColor solid 2px;
            border-radius: 4px;
        }
    }
}

.newsletter{
    width: 500px;
    background-color: $mainColor;
    text-align: center;
    padding: 50px;
    margin-left: 50px;
        h4{
            text-transform: uppercase;
            font-size: 26px;
            width: 100%;
        }
        p{
            padding: $espacio-doble 0;
            color: #1c1f20;
            font-size: 25px;
            line-height: 24px; 
        }
}
#superbtn{
    background-color:$mainColor;
    border: 1px solid $thirdColor;
    border-radius: 4px;
    box-sizing: border-box;
    color: $fourthColor;
    cursor: pointer;
    font-size: $espacio-doble;
    line-height: $espacio-doble;
    padding: 12px 40px;
    margin: 6px;
}
#espacionews{
    padding: 15px;
}